@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($stuff) {
	
	-webkit-box-shadow: $stuff;
	-moz-box-shadow:    $stuff;
	box-shadow:         $stuff;
}
.delete_user {
	float:right;
}
.card {
	width:300px;
	height:150px;
	margin:5px;
	display:block;
	float:left;
	@include border-radius(5px);
	@include box-shadow(1px 0px 5px 0px rgba(50, 50, 50, 1));

}

.thumbnail {
	width:80px;
	height:80px;
	margin:5px;
	float:left;
	display:block;
	border:1px solid black;
}

.name {
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	color: #58D3F7;
	font-size: 20px;
	margin: 5px;
}