@import url(http://fonts.googleapis.com/css?family=PT+Sans);

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow($stuff) {
	
	-webkit-box-shadow: $stuff;
	-moz-box-shadow:    $stuff;
	box-shadow:         $stuff;
}
.delete_user {
	display:block;
	float:right;
	margin:5px;
}
.card {
	width:300px;
	height:150px;
	margin:5px;
	display:block;
	float:left;
	@include border-radius(5px);
	@include box-shadow(1px 0px 5px 0px rgba(50, 50, 50, 1));

}

.thumbnail {
	width:80px;
	height:80px;
	margin:15px;
	float:left;
	display:block;
	border:1px solid black;
	@include border-radius(5px);
}

.name {
	display:block;
	font-family: 'PT Sans', sans-serif;
	font-weight:bold;
	color: #58D3F7;
	font-size: 20px;
	margin: 5px;
}

.email, .follow, .twitter {
	@extend .name;
	font-size: 14px;
	color: #0B0B3B;
}

.glyph {
	margin-right:5px;
	width:12px;
}

.editables {
	display:block;
	float:left;
	width:150px;
}

input[type=text] {
	@include border-radius(4px);
	display:block;
	border: 1px solid #ccc;
	height:25px;
	margin:5px;
}