<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!-- < script src="jquery.min.js"></script> -->
	<!-- < script src="underscore.min.js"></script> -->
	<script src="js/require.min.js"></script>
	<!-- < script src="backbone.min.js"></script> -->
	<!-- < script src="backbone.localStorage.js"></script> -->
	<script src="js/app.js"></script>
</head>
<body>
	<div id="app">
		<h1>
			Edit Users
		</h1>
		<button type="button" id="new_card">New User</button>
		<div id="users">

		</div>
	</div>
<script type="text/template" id="card">
<div class="card">
	<div class="thumbnail">

	</div>
	<span class="delete_user">X</span>
	<br />
	<div class="name"><%- name %> </div><input class="edit_name" type="text" value="<%- name %>" /> 
	<div class="email"><&- email %> </div><input class="edit_email" type="text" value="<%- email %>">
	<br />
	

</div>

</script>
</body>
</html>